<div class="nas-locale-input" [class.nas-locale-input--error]="showError()">

  <div class="nas-locale-input__group">
    <label class="nas-locale-input__label" [attr.for]="inputId + '-en'">
      {{ label }} (English)
      @if (required) { <span class="nas-locale-input__req">*</span> }
    </label>
    @if (multiline) {
      <textarea
        class="nas-input nas-input--area"
        [id]="inputId + '-en'"
        [placeholder]="placeholderEn"
        [value]="value().en"
        (input)="onInput('en', $event)"
        [disabled]="disabled"
        rows="3"
      ></textarea>
    } @else {
      <input
        class="nas-input"
        [id]="inputId + '-en'"
        type="text"
        [placeholder]="placeholderEn"
        [value]="value().en"
        (input)="onInput('en', $event)"
        [disabled]="disabled"
      />
    }
  </div>

  <div class="nas-locale-input__group">
    <label class="nas-locale-input__label" [attr.for]="inputId + '-ar'">
      {{ label }} (Arabic)
      @if (required) { <span class="nas-locale-input__req">*</span> }
    </label>
    @if (multiline) {
      <textarea
        class="nas-input nas-input--area"
        [id]="inputId + '-ar'"
        dir="rtl"
        [placeholder]="placeholderAr"
        [value]="value().ar"
        (input)="onInput('ar', $event)"
        [disabled]="disabled"
        rows="3"
      ></textarea>
    } @else {
      <input
        class="nas-input"
        [id]="inputId + '-ar'"
        type="text"
        dir="rtl"
        [placeholder]="placeholderAr"
        [value]="value().ar"
        (input)="onInput('ar', $event)"
        [disabled]="disabled"
      />
    }
  </div>

</div>
