:host { display: block; }

.nas-locale-input {
  display: flex;
  flex-direction: column;
  gap: var(--nas-space-4);

  &__group {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__label {
    font-size: var(--nas-size-2xs);
    font-weight: var(--nas-weight-medium);
    color: var(--nas-color-text-strong);
  }

  &__req { color: var(--nas-status-red-500); }

  &--error .nas-input { border-color: var(--nas-status-red-500); }
}
